//Background Colors
$app-background-color:#0D1214;
$container-fill: #293439;
$input-box-color:#587075;
$input-bg-color: #3b3b3b;
$preset-hover-bg-color: #1F242A;
$app-selected-color: #71C3E0;
$inapp-bg-color: rgb(248,249,251);

// Fonts
$font-color: #DFDFDF;
$side-bar-selected-color: #71C3E0;
$input-text-color: #939393;

//Active-Selected Colors
$selected-filter-color: #71C3E0;
$active-favorite-like: #DFDFDF;

//Preset Popup Menu Colors
$preset-popup-menu-bg-color: #e1e1e1;
$preset-popup-menu-hover-color: rgba(243, 243, 243, 0.77);

//Preset Name Colors
$preset-1n-bg-color: #3A3826;
$preset-2n-bg-color: #37282A;
$preset-3n-bg-color: #2C3A3D;
$preset-4n-bg-color: #2F3832;
$preset-5n-bg-color: #322E38;
$preset-6n-bg-color: #1E2C38;
$preset-7n-bg-color: #2F3832;

$preset-1n-color: #FADC7D;
$preset-2n-color: #EE8C8C;
$preset-3n-color: #ADE2EE;
$preset-4n-color: #CDE1A8;
$preset-5n-color: #E8BCD7;
$preset-6n-color: #84BCE1;
$preset-7n-color: #CDE1A8;

//Scrollbar color
$scrollbar-color: #a3ddec;

//Login Colors
$login-btn-color: #50befb;

//Error Message Text Color
$error-msg-color: #FF7D7D;

//Buttons
$save-preset-btn-color: #50befb;
