body {
    color: #000;
    text-align: center;
}
#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    max-width: 960px;
    margin: 0 auto;
    grid-template-areas: 
    "header header header header"
    "footer footer footer footer"
    "main main main main"
    "main main main main"
    "aside aside nav nav"
    "section section section section"
    "section section section section";
}
@media screen and (min-width: 760px) {
    #content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
        max-width: 960px;
        margin: 0 auto;
        grid-template-areas: 
        "header header header header"
        "aside aside main main"
        "nav nav main main"
        "section section section section"
        "section section section section"
        "footer footer footer footer";
    }
}

#content > * {
    /* background: #3bbced; */
    padding: 30px;
}
 li {
     list-style-type: none;
 }

.header {
    grid-area: header;
    background-color: blue;
}

.main {
    grid-area: main;
    background-color: green;
}

.section {
    grid-area: section;
    background-color: yellow;
}

.aside {
    grid-area: aside;
    background-color: red;
}

.nav {
    grid-area: nav;
    background-color: orange;
}

.footer {
    grid-area: footer;
    background-color: purple;
}